@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<h2>Cookies</h2>
<p>This website is using cookies to function properly only to keep your session active.</p>

<h2>Data</h2>
<p>We are not spying on you or collecting any extra data regarding your navigation.</p>
<p>No data are shared with a third party.</p>